body{
    background-color:white;
}

/* Style the header */
.header{
    overflow: hidden;
    padding: 20px 10px; 
  }
   /* Style the links inside the navigation bar */
    .header a {
      float: left;
      text-align: center;
      color: #4DBD33;;
      padding:12px;
      text-decoration: none;
      font-size: 18px;
      font-family: poppins; 
     font-weight: bold;
      text-transform: uppercase;
      line-height: 25px;
      border-radius: 4px; 
    }
     /* Style the hover links inside the navigation bar */
    
     
    
    
    /* Add an active class to highlight the current page */
   
    .header-right {
       float: right;
      
    }
     
    @media screen and (max-width: 600px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      
      .header-right {
        float: none;
      }
    }
body {
font-family: Arial, Helvetica, sans-serif;

}


input[type=email], input[type=password] {
  width: 100%;
  padding: 16px 28px;
  margin: 40px 0;
  display: flex;
  border: 1px solid #008037;
  box-sizing: border-box;
  border-radius:24px;
  height: 50px;
   
 
}
::placeholder{
font-weight:bold;
color:#008037;
}
label{
color:#008037;
font-weight:bold;
}
span.psw {
  float: right;
  padding-top: 0px;
}
span.psw a {
  color:#62B1F6;
  font-weight:bold;
}
.remb{
padding:12px;

}


 

button:hover {
  opacity: 0.8;
}

.facebookbtn {
  width: auto;
  padding: 14px 24px;
  background-color: #000080;
  color:white;
  border-radius:15px;
  border:none;
  margin: 3px 10px;
}

.googlebtn {
  width: auto;
  padding: 14px 24px;
  background-color: #f44336;
  color:white;
  border-radius:15px;
  border:none;
  margin: 3px 10px;
}
.login{
display:flex;
justify-content:center;
padding:16px;
}
.loginbtn{
background-color:#4DBD33;
color:White;
padding:14px 34px;
border-radius:15px; 
border:none;
}

 

.container1 {
  padding: 16px;
}
.container2 {
  padding: 16px;
  display:flex;
  justify-content:center;
  margin: 16px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
}
.form{
top: 10%;
left: 50%;
transform: translate(-50%, 50%);
position: absolute;
width: 100%;
max-width: 400px;
 
 

    
  
    
}