/*Landing page*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(24, 118, 226);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: rgb(68, 231, 182);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: white;
    
   
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  