 *{
   box-sizing: border-box;
   padding: 0px;
   margin: 0px;
   user-select: none;
   
 }
 body{
  width:auto;
  font-family: Poppins;
 
} 
 ::placeholder{
  font-weight: bold;
  color: #008037;
 
}
 
.bg-img{
  height: 800px; 
  background: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Style the header */
.header{
  overflow: hidden;
  padding: 20px 10px;
   
}
 /* Style the links inside the navigation bar */
  .header a {
    float: left;
    text-align: center;
    color: #4DBD33;;
    padding:12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    margin-top: 5%;
  }
   /* Style the hover links inside the navigation bar */
  .header a:hover{
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .header a.active {
    color: white;
  }
  .header-right {
     float: right;
    
  }
   
  @media screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }
  
  .button{
   background-color:#4DBD33;;
   padding: 12px 24px;
   font-size: 20px;
   border-radius: 24px;
   font-family: Poppins;
   font-weight: bold;
   color: white;
   margin-right: 50px;
   text-align: center;
   border: 2px solid white;
   display: inline;
  
   
   
}
.button:hover{
  background-color: white;
  color: #008037;
}


  
.button2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#4DBD33;;
    padding: 16px 30px;
    font-size: 18px;
    border-radius: 28px;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    text-align: center;
}
.button2:hover{
  background-color: white;
  color: #008037;
}
/*Main Container*/
.main-container{
  background-color: #ccc;
  height: auto;
}

/*About Us*/
/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
 
}
.column1 h2{
  color: #62B1F6;
  font-family: Poppins;
  font-weight: bold;
  padding:5px;
}
.column1 p,ul{
  color: #4DBD33;
  font-family: Poppins;
  font-weight: bold;
}
.column1 img{
  border-radius:20px;
  width: 80%;
  height:auto;
  margin-top: 20px;
  
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}
/*Features*/
 /* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
 
  
}
.column2 h2{
  color: #62B1F6;
  font-family: Poppins;
  font-weight: bold;
  padding:5px;
}
.column2 ul{
  color: #4DBD33;
  font-family: Poppins;
  font-weight: bold;
}
.column2 img{
  border-radius:20px;
  width:80%;
  height:300px;
  border-radius: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}

/*Contact*/
.contact{
  background-color:  #a7d4a7;
 
 }
 /* Create two equal columns that floats next to each other */
 .column3 {
   float: left;
   width: 50%;
   padding: 10px;
   
   
 }

.wrapper{
    width: 100%;
    max-width: 680px;
    margin: 10px auto 0;
    padding: 20px;
    box-sizing: border-box;
}
.content{
    text-align:left;
}
.content h2{
    letter-spacing: 1px;
    color: #62B1F6;
}
.content p{
  letter-spacing: 1px;
  color:#008037;
  font-weight: bolder;
}
.form{
    width: 100%;
    margin: 25px 0;
}
.top-form,
.middle-form,
.bottom-form{
    width: 100%;
    min-height: 60px;
    margin: 10px 0;
    overflow: hidden;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea{
padding: 15px 5px;
box-sizing: border-box;
width: 100%;
border: 2px solid #008037;
border-radius: 20px;
outline: none;
transition:all 0.2s ease;

}
.form input:focus,
.form input:focus,
.form input:focus,
.form textarea:focus{
border-color: blue;
/*box-shadow: inset 0 1px 1 px rgba(0, 0, 0,0.0125 ),
0 0 8px rgba(76, 161, 175,0.5 );*/
}
.form.label{
    margin-bottom: 5px;
    text-transform: capitalize;
}
.top-form .inner-form{
    width: 45%;
    float: left;
    margin-right: 10%;
}
.top-form .inner-form:last-child{
    margin-right: 0;
}
.middle-form{
    clear:both;
   
}
.middle-form .inner-form{
  margin: 10px 0;
}

.bottom-form textarea{
    height: 120px;
}
.btn{
    background: #62B1F6;
    width: 100px;
    padding:10px 0;
    border-radius: 10px;
    text-align: center;
    text-transform:uppercase;
    color:white;
    font-weight: bold;
    float: right;
    letter-spacing: 5px;
    cursor:pointer;
}
@media screen and (max-width: 600px) {
    .wrapper{
        margin: 25px auto 0;
    }
    .top-form .inner-form{
        width: 100%;
        margin: 5px 0;
    }
    
}
 /* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
}
.column3 img{
  border-radius:20px;
  width:80%;
  height:450px auto 0;
  margin-top: 20px;
  
}
 @media screen and (max-width: 600px) {
   .column3 {
     width: 100%;
   }
 }
 /*physical address*/
/* Create two unequal columns that floats next to each other */
.address-column {
  float: left;
  padding: 10px;
  height: 200px;
  padding: 0;
  margin: 0;
}

.left {
  width: 30%;
}
.left p{
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;
  display:flex;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .address-column {
    width: 100%;
  }
}
/*Footer*/
.footer{
  background-color:#008037;
  color: white;
  font-family: Poppins;
  padding: 15px;
  
  
}
.footer-column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
  justify-content: center;
}
.footer-column p{
  color: white;
  padding-top: 2px;
}
.footer-column h3{
  color: white;
  border-bottom: 3px solid white;
  display: inline-block;
}
.footer-column h4 {
  color: white;
}

.subscribe {
  width: 80%;
  position: relative;
}

#subscribe-email {
  margin: 0px;
  padding: 0px;
  width: 100%;
  outline: none;
  height: 50px;
  border-radius: 10px;
  border:1.5px solid #008037;
}

#clear {
  position: absolute;
  top: 0;
  border-radius: 10px;
  right: 2%;
  z-index: 2;
  border: none;
  top: 6px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #4DBD33;
  transform: translateX(2px);
  padding:14px 18px;
}
.subscribe img{
 display: inline-block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .footer-column {
    width: 100%;
  }
}
.copyright {
  background-color: #008037;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 17px;
  width: 100%;
}