
.header-container{
  height: 800px; 
  background:url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}
.topnav {
    overflow: hidden;
  }
  
 
 /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #008037;
    padding: 60px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Poppins;
    font-weight: bold;
    text-transform: uppercase;
  }
  .topnav a:hover{
    
    color: white;
   
  }
  
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: white;
    
   
  }
 
   

  .logo img {

    position: absolute;
    margin-top: 18px;
    margin-left: 10px;
    height: 120px;
    padding: auto;
  }
  .button{
   float: right;
   background-color:#008037;
   padding: 10px 24px;
   font-size: 18px;
   border-radius: 24px;
   font-family: Poppins;
   font-weight: bold;
   color: white;
   margin-top: 48px;
   margin-right: 50px;
   text-align: center;
   border: none;
}
.button:hover{
  background-color: white;
  color: #008037;
}

body{
   width:auto;
   
   
 } 
  
.button2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#008037;
    padding: 16px 30px;
    font-size: 18px;
    border-radius: 28px;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}
.button2:hover{
  background-color: white;
  color: #008037;
}
h2{
 color: #62B1F6;
 font-family: Poppins;
 font-weight: bold;
 
}
p{
  color: #4DBD33;
  font-family: Poppins;
  font-weight: bold;
  text-align: left;
}
.about img{
float: right;
border-radius: 10px;
 
} 
.about ul{
  color: #4DBD33;
  padding: auto;

   
  font-size: 20px;
}
.features img{
  float: left;
  border-radius: 10px;

}  
.features-list ul{
  color: #4DBD33;
  float: right;
}


   